<div>
  <h1>Hello!</h1>
  {{title}}
</div>

<div>
  <h2>Opiskelija</h2>
  Opiskelija: {{jsonRes.virta.opiskelija[0].kansallinenOppijanumero}}
</div>
<div *ngFor="let opiskelija of jsonRes.virta.opiskelija">
  <div>
    Etunimet: {{opiskelija.etunimet}}
  </div>
  <div>
    Sukunimi: {{opiskelija.sukunimi}}
  </div>
  <div>
    Henkilotunnus: {{opiskelija.henkilotunnus}}
  </div>
  <div>
    Kansallinen oppijanumero: {{opiskelija.kansallinenOppijanumero}}
  </div>

  <div><h2>Kurssit</h2></div>
  <div *ngFor="let opintosuoritus of opiskelija.opintosuoritukset.opintosuoritus">
    <div>
      <h3>
        {{opintosuoritus.nimi[0].value}}
      </h3>
    </div>
    <div>
      Laajuus:{{opintosuoritus.laajuus.opintopiste}}
    </div>
    <div>
      Arvosana:{{opintosuoritus.arvosana.viisiportainen}}
    </div>
    <div>
      Myöntäjä:{{opintosuoritus.myontaja}}
    </div>
    <div>
      Pvm:{{opintosuoritus.suoritusPvm}}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
