<div>
  <h2>Kurssien tuonti</h2>
</div>
<div *ngFor="let opiskelija of jsonRes.virta.opiskelija">
  <div>

    <table>
      <tr>
        <th>Etunimet:</th>
        <td>{{opiskelija.etunimet}}</td>
      </tr>
      <tr>
        <th>Sukunimi:</th>
        <td>{{opiskelija.sukunimi}}</td>
      </tr>
      <tr>
        <th>Henkilötunnus:</th>
        <td>{{opiskelija.henkilotunnus}}</td>
      </tr>
      <tr>
        <th>Kansallinen oppijanumero:</th>
        <td>{{opiskelija.kansallinenOppijanumero}}</td>
      </tr>
    </table>

    <br>
  </div>

  <div>
    <table>
      <th>Valitse</th>
      <th>Avain</th>
      <th>moduuli</th>
      <th>Kurssi</th>
      <th>Arvosana</th>
      <th>pvm</th>
      <th>Laajuus</th>
      <th>Myöntäjä</th>
      <tr *ngFor="let opintosuoritus of opiskelija.opintosuoritukset.opintosuoritus">
        <td (click)="courseSelected(opintosuoritus.avain)">
          <mat-pseudo-checkbox>xxx</mat-pseudo-checkbox>
        </td>
        <td>{{opintosuoritus.avain}}</td>
        <td>{{opintosuoritus.koulutusmoduulitunniste}}</td>
        <td>{{opintosuoritus.nimi[0].value}}</td>
        <td>{{opintosuoritus.arvosana.viisiportainen}}</td>
        <td>{{opintosuoritus.suoritusPvm}}</td>
        <td>{{opintosuoritus.laajuus.opintopiste}}</td>
        <td>{{opintosuoritus.myontaja}}</td>
      </tr>
    </table>
  </div>

</div>
<div>
  <button (click)="reviewSelectedCourses()">Siirrä valitut kurssit</button>
</div>
<router-outlet></router-outlet>
