<h1>Find and select results to import</h1>
<hr/>
<h2>{{learner.fullName}} {{learner.bday.content}}</h2>
<div>{{selectedIds}}</div>
<h3>Filter Results</h3>
<div class="pure-g">
    <div class="pure-u-1-4">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <legend>Education Institutions</legend>
                <div ng-repeat="(key, value) in selectedEducationInstitutions">
                    <input type="checkbox" name="selectedEducationInstitutions[]" ng-model="selectedEducationInstitutions[key]">{{key}}</input>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1-4"><form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Type</legend>
            <div ng-repeat="(key, value) in selectedTypes">
                <input type="checkbox" name="selectedTypes[]" ng-model="selectedTypes[key]">{{key}}</input>
            </div>
        </fieldset>
    </form></div>
    <div class="pure-u-1-4"><form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Level</legend>
            <select ng-options="level for level in levels" ng-model="selectedLevel" ng-init="selectedLevel = levels[0]"></select>

        </fieldset>
    </form></div>
    <div class="pure-u-1-4"><form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Time Period</legend>
            <datepicker >
                <input ng-model="startdate" type="text"/>
            </datepicker>
            <datepicker >
                <input ng-model="enddate" type="text"/>
            </datepicker>
        </fieldset>
    </form></div>
</div>

<form class="pure-form">
    <button class="pure-button" ng-click="sendIds()">Send selected learning opportunities</button>
    <table class="pure-table">
        <thead>
        <th></th>
        <th>Code</th>
        <th>Title</th>
        <th>Part of</th>
        <th>Level</th>
        <th>Type</th>
        <th>Credits</th>
        <th>Results</th>
        <th>Date</th>
        </thead>
        <tbody>
        <tr ng-repeat="opportunity in flattenedLearningOpportunities">
            <td><input type="checkbox" ng-model="opportunity.selected" ng-change="checkBoxChanged(opportunity)"></td>
            <td>{{opportunity.elmoIdentifier}}</td>
            <td>
                <div ng-repeat='language in opportunity.title'>
                    <div>{{language.content}}</div>
                </div>
            </td>
            <td>{{opportunity.partOf}}</td>
            <td>{{opportunity.level}}</td>
            <td>{{opportunity.type}}</td>
            <td>{{opportunity.credit.value}} {{opportunity.credit.scheme}}</td>
            <td>{{opportunity.specifies.learningOpportunityInstance.result.content}}</td>
            <td>{{opportunity.specifies.learningOpportunityInstance.start}}
                {{opportunity.specifies.learningOpportunityInstance.end}}
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div ng-bind-html="review"/>
