<div>
<h3>{{issuerName}}</h3>
<table class="pure-table">
    <thead>
    <th></th>
    <th>Code</th>
    <th>Title</th>
    <th>Part of</th>
<th>Level</th>
<th>Type</th>
<th>Credits</th>
<th>Results</th>
<th>Date</th>
</thead>
<tbody>

<tr ng-repeat="opportunity in flattenedLearningOpportunities | filter:selectedTypes | filter:selectedLevel">
    <td><input type="checkbox" ng-model="opportunity.selected" ng-change="checkBoxChanged(opportunity)"></td>
    <td>{{opportunity.elmoIdentifier}}</td>
<td>{{getRightLanguage(opportunity.title)}}</td>
<td>{{opportunity.partOf}}</td>
<td>{{opportunity.level}}</td>
<td>{{opportunity.type}}</td>
<td>{{opportunity.credit.value}} {{opportunity.credit.scheme}}</td>
<td>{{opportunity.specifies.learningOpportunityInstance.result.content}}</td>
<td>{{opportunity.specifies.learningOpportunityInstance.start}}
{{opportunity.specifies.learningOpportunityInstance.end}}
</td>
</tr>
</tbody>
</table>
</div>